<form class="form form_type_login" id="login-form" name="login-form">
    <div class="form__top-content">
        <h1 class="form__heading">Вход</h1>
        {{{ FormInputGroup
            type="text" name="login" ref="loginInputGroup"
            placeholder="Логин" 
            errorMessage="Неверный логин"
            cssModificator="form__input-group"
            validationType="login" 
        }}}
        {{{ FormInputGroup
            type="password" name="password"  ref="passwordInputGroup"
            placeholder="Пароль" 
            errorMessage="Неверный пароль"
            cssModificator="form__input-group"
            validationType="password"  }}}
    </div>
    <div class="form__bottom-content">
        <div class="form__button-wrapper">
            {{{ Button heading="Войти" }}}
        </div>
        {{{ Link class="form__link" linkText="Нет аккаунта?" href="#" }}}
    </div>
</form>
