.chat-preview {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--whisper);
    padding: 12px 0;

    &:last-of-type {
        border-bottom: 1px solid var(--whisper);
    }

    &__image {
        width: 47px;
        height: 47px;
        background: var(--white-smoke);
        border-radius: 50%;
        margin-right: 10px;
    }

    &__chat-info {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

    &__name {
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        color: var(--nero);
    }

    &__lastMessage {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: var(--gray);
    }

    &__time {
        font-weight: 500;
        font-size: 9px;
        line-height: 13px;
        color: var(--gray);
        text-align: right;
    }

    &__chat-info {
        flex: 1;
    }

    &__name {
        margin-bottom: 4px;
    }
}
