<div class="chat-preview">
    <div class="chat-preview__image"></div>
    <div class="chat-preview__chat-info">
        <p class="chat-preview__name">{{{name}}}</p>
        <p class="chat-preview__lastMessage">{{{lastMessage}}}</p>
    </div>
    <div class="chat-preview__time">{{{time}}}</div>
</div>
