<div class="page">
    <nav class="main-nav">
        <ul>
            <li>
                <a href="./login">Login Page</a>
            </li>
            <li>
                <a href="./signin">SignIn Page</a>
            </li>
            <li>
                <a href="./500">500 Page</a>
            </li>
            <li>
                <a href="./404">404 Page</a>
            </li>
            <li>
                <a href="./chose-chat">Chose Chat Page</a>
            </li>
            <li>
                <a href="./chat">Chat Page</a>
            </li>
            <li>
                <a href="./profile">Profile Page</a>
            </li>
            <li>
                <a href="./modals">Modal States</a>
            </li>
        </ul>
    </nav>
</div>
