<ul>
    <li>
        <a href="./login">Login Page</a>
    </li>
    {{!-- <li>
        <a href="signin/signin.hbs">SignIn Page</a>
    </li>
    <li>
        <a href="500/500.hbs">500 Page</a>
    </li> --}}
    <li>
        <a href="./404">404 Page</a>
    </li>
    {{!-- <li>
        <a href="chose-chat/chose-chat.hbs">Chose Chat Page</a>
    </li>
    <li>
        <a href="chat/chat.hbs">Chat Page</a>
    </li>
    <li>
        <a href="profile/profile.hbs">Profile Page</a>
    </li>
    <li>
        <a href="modals/modals.hbs">Modal States</a>
    </li> --}}
</ul>
