{{!< layout}}

<main class="profile-page">
    <div class="profile-page__go-back-area">
    </div>
    <div class="profile-page__user-information-area">
        <div class="profile-page__profile-card-wrapper">
            {{> "modules/profile-card/profile-card" }}
        </div> 
    </div>
</main>