body {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
}

button {
    font-family: Inter, sans-serif;
    padding: 0;
}

a,
button {
    cursor: pointer;
}

.page {
    display: flex;
}

div.login,
div.signin,
div.error {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
