.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 340px;
    background: var(--white);
    box-shadow: 0 0 6px rgba(0 0 0 / 14%);
    border-radius: 12px;
    padding: 50px 30px 30px;

    &__heading {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 40px;
    }

    &__input-group {
        margin-bottom: 20px;
    }

    &__button-wrapper {
        margin-bottom: 14px;
    }

    &__top-content,
    &__bottom-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &_type {
        &_login {
            height: 460px;
        }

        &_register {
            height: 615px;
        }
    }
}
