<form class="login-form">
    <div class="login-form__top-content">
        <h1 class="login-form__heading">Вход</h1>
        <input class="login-form__input" type="text" id="login" placeholder="Логин" />
        <input class="login-form__input" type="password" id="password" placeholder="Пароль" />
    </div>
    <div class="login-form__bottom-content">
        <div class="login-form__button-wrapper">
            {{> "atoms/button/button"}}
        </div>
        <a href="#" class="login-form__link">Нет аккаунта?</a>
    </div>
</form>