<div class="profile-card">
    <div class="profile-card__avatar">
        {{#if avatar}}
        <img src="{{avatar}}" alt="avatar" />
        {{else}}
        <span class="profile-card__avatar-icon"></span>
        {{/if}}
        <div class="profile-card__shadow"><span>Поменять аватар</span></div>
    </div>
    <p class="profile-card__name">{{name}}</p>
    {{> "components/key-value-line/key-value-line" key="Почта" value="pochta@yandex.ru" }}
    {{> "components/key-value-line/key-value-line" key="Логин" value="ivanivanov" }}
    {{> "components/key-value-line/key-value-line" key="Имя" value="Иван" }}
    {{> "components/key-value-line/key-value-line" key="Фамилия" value="Иванов" }}
    {{> "components/key-value-line/key-value-line" key="Имя в чате" value="Иван" }}
    {{> "components/key-value-line/key-value-line" key="Телефон" value="+7 (909) 967 30 30" }}
</div>
