<div class="file-type-option">
    <div class="file-type-option__icon-wrapper">
        <img src="~/static/assets/icons/{{{fileType}}}.svg" alt="{{{fileType}}}" />
    </div>
    <p class="file-type-option__text">{{{optionText}}}</p>
</div>
