<ul>
    <li>
        <a href="login.hbs">Login Page</a>
    </li>
    <li>
        <a href="signin.hbs">SignIn Page</a>
    </li>
    <li>
        <a href="500.hbs">500 Page</a>
    </li>
    <li>
        <a href="404.hbs">404 Page</a>
    </li>
    <li>
        <a href="chose-chat.hbs">Chose Chat Page</a>
    </li>
</ul>