<div class="profile-card">
    <div class="profile-card__avatar"></div>
    <p class="profile-card__name">{{name}}</p>
    {{> "atoms/key-value-line/key-value-line" key="Почта" value="pochta@yandex.ru" }}
    {{> "atoms/key-value-line/key-value-line" key="Логин" value="ivanivanov" }}
    {{> "atoms/key-value-line/key-value-line" key="Имя" value="Иван" }}
    {{> "atoms/key-value-line/key-value-line" key="Фамилия" value="Иванов" }}
    {{> "atoms/key-value-line/key-value-line" key="Имя в чате" value="Иван" }}
    {{> "atoms/key-value-line/key-value-line" key="Телефон" value="+7 (909) 967 30 30" }}
</div>