<div class="error">
    <div class="error__number">{{number}}</div>
    <div class="error__message">{{message}}</div>
    {{> "components/link/link" class="error__link" linkText="Назад к чатам" href="#" }}
</div>
