{{!-- [ToDo] temporary page - remove later --}}
<main class="modals" style="display: flex; justify-content: space-around; align-items: center; height: 100vh;">
    {{{ Modal heading="Загрузите файл" buttonText="Выбрать файл на компьютере" }}}
    {{{ Modal heading="Файл загружен" message="pic.jpg" }}}
    {{{ Modal heading="Ошибка, попробуйте ещё раз" cssModificator="modal_type_error" buttonText="Выбрать файл на компьютере" }}}
</main>
