.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 340px;
    height: 257px;
    background: var(--white);
    box-shadow: 0 0 6px rgba(0 0 0 / 14%);
    border-radius: 12px;
    padding: 40px 30px;

    &_type_error {
        .modal__heading {
            color: var(--error-red);
        }
    }

    &__chose-image-button {
        width: 122px;
        height: 32px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        background-color: transparent;
        text-decoration: underline;
        color: var(--blue);
        border: none;
    }

    &__message {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--suva-grey);
    }
}
